.q{
  background-image: url(/public/backroundweather.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 620px;
}

.e{
 padding-top: 120px;
 color: rgb(15, 238, 238);
}
.w{
  padding-left: 500px;
}
.r{
  border: 3px solid rgb(89, 226, 142);
  padding: 10px;
}
.t{
  border: 3px solid rgb(93, 170, 243);
  padding: 10px;
}
.y{
  padding-left: 10px;
  font-weight: bolder;
  color: rgb(3, 3, 48);
}